<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="application-name" content="josh!">
  <meta name="apple-mobile-web-app-title" content="josh!">
  <meta name="apple-mobile-web-app-title" content="josh!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="pretty/site.webmanifest">
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileColor" content="#2b5797">
  <link rel="mask-icon" href="pretty/favicon.ico">
  <link rel="shortcut icon" href="pretty/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png" href="pretty/favicon.png">
  <link rel="apple-touch-startup-image" href="pretty/launch.png">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <link rel="apple-touch-icon" href="pretty/touch-icon-iphone.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="icon" sizes="16x16 32x32 64x64" href="pretty/favicon.ico">
  <meta name="msapplication-TileImage" content="pretty/favicon-144.png">
  <link rel="mask-icon" href="pretty/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="icon" type="image/png" sizes="96x96" href="pretty/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="pretty/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="pretty/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="pretty/favicon-16.png">
  <link rel="apple-touch-icon" sizes="152x152" href="pretty/touch-icon-ipad.png">
  <link rel="icon" type="image/png" sizes="196x196" href="pretty/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="pretty/favicon-160.png">
  <link rel="apple-touch-icon" sizes="167x167" href="pretty/touch-icon-ipad-retina.png">
  <link rel="apple-touch-icon" sizes="180x180" href="pretty/touch-icon-iphone-retina.png">
  {{with .Site.Title}}<title>{{.}}</title>{{end}}
  {{with .Site.Params.description}}<meta name="description" content="{{.}}">{{end}}
  {{ with .Site.Params.author }}<meta name="author" content="{{.}}">{{end}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{partial "includes" . }}{{partial "scripts" . }}
  {{ with .Site.Params.favicon }}<link rel="shortcut icon" href="/{{.}}">{{ end }}
</head>
